/* Keys section style */

/* Row 1 */
.keys .key:nth-child(1) .key_icon_box { background: #0c2f1f; }
.keys .key:nth-child(2) .key_icon_box { background: var(--color-secondary); }
.keys .key:nth-child(3) .key_icon_box { background: var(--color-accent); }

/* Row 2 */
.keys .key:nth-child(4) .key_icon_box { background: #142952; }
.keys .key:nth-child(5) .key_icon_box { background: #476cb5; }
.keys .key:nth-child(6) .key_icon_box { background: #78BDE8; }

/* Row 3 */
.keys .key:nth-child(7) .key_icon_box { background: #4b2823; }
.keys .key:nth-child(8) .key_icon_box { background: #74503d; }
.keys .key:nth-child(9) .key_icon_box { background: #c29c77; }


@media (max-width: 768px) {
  .key {
    flex-direction: column !important; 
    gap: 1.5rem;                       
    margin-bottom: 2rem;                
  }

  .key_text,
  .key_images {
    max-width: 100% !important; 
}
}

.keys {
  max-width: 1200px;
  margin: 0 auto;
}

.key {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;
  padding: 2rem 0;
}

/* Odd items (1, 3, 5, 7, 9): text left, images right */
.key:nth-child(odd) {
  flex-direction: row;
}

/* Even items (2, 4, 6, 8): images left, text right */
.key:nth-child(even) {
  flex-direction: row-reverse;
}

.key_text {
  flex: 1;
  max-width: 50%;
  
}

.key_header {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
}

.key_text .key_icon_box {
  width: 80px;
  height: 80px;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.key_text .key_icon_box img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.key_title {
  /* font-size: 1.5rem; */
  color: #151515;
  margin: 0;
  flex: 1;
  font-family: var(--font-headers);
}

.key_content p {
  margin: 0 0 1rem; 
  line-height: 1.6; 
  font-family: var(--font-body);
  /* font-size: 18px ; */
}


.key_images {
  flex: 1;
  max-width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.key_images img,
.key_images .key_video {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
}


.key_video {

  background-color: var(--color-light);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key_video iframe {
  width: 100%;
  height: 100%;
}
